.idea
client/node_modules

client/.pnp
client/.pnp.js

# testing
client//coverage

# production
client//build
client/package-lock.json
static
templates
static/react
templates/index.html

venv
default_key_pair_name.pem

